################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/GLORIA/.vs
/GLORIA/obj
*.csproj
*.user
*.sln
